.about-page {
  max-width: 1000px;
  font-size: 20px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-page h1,
.about-page h2 {
  color: #333;
}

.about-page p {
  text-align: justify;
  line-height: 1.6;
}

.about-page ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .about-page {
    font-size: 18px;
  }

  .about-page h1,
  .about-page h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .about-page {
    font-size: 16px;
  }

  .about-page h1,
  .about-page h2 {
    margin-bottom: 5px;
  }
}
