.authPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.authPageToggle {
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggleOption {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.toggleOption.active {
  color: #fff;
  background-color: #007bff;
}

.formContainer {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formInput,
.formButton {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-size: 16px;
}

.formInput:focus {
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.6);
}

.formButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.formButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .formContainer {
    width: 100%;
  }

  .formInput,
  .formButton {
    width: 100%;
  }
}
