.formInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.formInput:focus {
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
}

.formButton {
  padding: 15px 20px;
  width: 50%;
  min-width: 150px;
  max-width: 200px;
  margin: 10px auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #0056b3;
  box-shadow: 0px 0px 12px rgba(0, 123, 255, 0.6);
}

@media (max-width: 768px) {
  .formContainer {
    margin-top: 10%;
    padding: 15px;
  }

  .authPageContainer {
    padding: 20px;
    min-height: auto;
  }

  .authPageToggle {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .toggleOption {
    margin: 5px;
    padding: 8px 10px;
  }
}
