.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
}

.movie {
  width: 280px;
  margin: 30px;
  background-color: #1a191f;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.movie__cover-inner {
  position: relative;
  height: max-content;
  overflow: hidden;
}

.movie__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__info {
  padding: 10px;
  text-align: center;
}

.movie__title {
  font-size: 23px;
  color: fuchsia;
  cursor: pointer;
}

.movie__details {
  color: aqua;
  font-size: 16px;
  margin: 5px 0;
}

.movie__category {
  color: green;
  font-size: 16px;
  margin: 5px 0;
}

.movie__select-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(124, 8, 8);
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: yellow;
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #1a191f;
  font-size: 14px;
}

.movie__average--green {
  background-color: green;
  color: #ffffff;
}

.movie__average--orange {
  background-color: orange;
  color: #ffffff;
}

.movie__average--red {
  background-color: red;
  color: #ffffff;
}

.movie__average--blue {
  background-color: blue;
  color: #ffffff;
}

.movie__watch-button {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie__watch-button:hover {
  background-color: #e6430e;
}
